{
  "presets": [[
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "esmodules": false,
          "ie": "8"
        },
        "corejs": "2"
      }
    ]]
}
