<div class="container">
  <div ng-if="!loaded" class="loadingText">Loading...</div>
  <div ng-if="loaded" id="dashboard-wrapper" class="center-block">

    <div id="libTable">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-hover">
        <thead>
          <tr>
            <th>
              <input ng-show="rowCollection" st-search="'memname'" placeholder="Search" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  {{libname || 'Library'}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="lib in libraryList" role="presentation">
                    <a ng-click="loadLib(lib)" role="menuitem" tabindex="-1" href="">{{lib.libname}}</a>
                  </li>
                </ul>
              </div>
            </th>
          </tr>
          <tr>
            <th st-ratio="20" st-sort="libname">Library Name</th>
            <th st-ratio="20" st-sort="memname">Memory Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedCollection" ng-click="go(item.libname, item.memname)">
            <td st-ratio="20">{{item.libname}}</td>
            <td st-ratio="20">{{item.memname}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-center">
              <div st-items-by-page="20" st-pagination="" st-displayed-pages="10"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
