<div class="container">
  <div ng-if="!loaded" class="loadingText">Loading...</div>
  <div ng-if="loaded" id="data-wrapper" class="center-block">

    <div id="dataTable">
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th ng-repeat="key in keys" st-ratio="20" st-sort="{{key}}">{{key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedCollection">
            <td ng-repeat="key in keys" st-ration="20">{{item[key]}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="{{keys.length}}" class="text-center">
              <div st-items-by-page="20" st-pagination="" st-displayed-pages="10"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
