<div ng-if="showDebugWindow" id="debugWindow" ng-controller="debugWindowCtrl">
  <div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a ng-click="showAppLogTab($event)" href="" data-target="#applicationLogs" data-toggle="tab">Application Logs <span class="badge">{{appLogs.length}}</span></a>
      </li>
      <li role="presentation">
        <a ng-click="showDebugDataTab($event)" href="" data-target="#debugData" data-toggle="tab">Debug Data <span class="badge">{{debugData.length}}</span></a>
      </li>
      <li role="presentation">
        <a ng-click="showSasErrorsTab($event)" href="" data-target="#sasErrors" data-toggle="tab">Sas Errors <span class="badge">{{sasErrors.length}}</span></a>
      </li>
      <button type="button" class="close" ng-click="closeDebugWindow()"><span aria-hidden="true">&times;</span></button>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="applicationLogs">
        <div ng-repeat="log in appLogs" class="logItem">
          <p>{{log.time.toString()}}:</p>
          <pre>{{log.message}}</pre>
        </div>
        <button class="btn btn-primary clear-btn" type="submit" ng-click="clearApplicationLogs()">Clear</button>
      </div>
      <div role="tabpanel" class="tab-pane" id="debugData">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div ng-repeat="log in debugData" class="logItem">
            <p>{{log.time.toString()}}:</p>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" href="" aria-expanded="false" aria-controls="collapse{{$index}}">
                  {{log.sasProgram}}
                </a>
              </div>
              <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div ng-bind-html="log.message">{{log.message}}</div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary clear-btn" type="submit" ng-click="clearDebugData()">Clear</button>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="sasErrors">
        <div ng-repeat="err in sasErrors" class="logItem">
          <p>{{err.time.toString()}}</p>
          <p>Sas Program: {{err.sasProgram}}</p>
          <pre>{{err.message}}</pre>
        </div>
        <button class="btn btn-primary clear-btn" type="submit" ng-click="clearSasErrors()">Clear</button>
      </div>
    </div>

  </div>
</div>
