<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Sign In</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form id="loginform" class="form-horizontal" role="form" name="loginForm" ng-submit="login(user)">

          <div style="margin-bottom: 25px">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="login-username" type="text" name="username" class="form-control" ng-model="user.username" placeholder="username" required>
            </div>
          </div>

          <div style="margin-bottom: 25px">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="login-password" type="password" name="password" class="form-control" ng-model="user.password" placeholder="password" required>
            </div>
          </div>

          <div class="errorMsg alert alert-danger" ng-show="error">{{error}}</div>

          <div style="margin-top:10px" class="form-group">

            <div class="col-sm-12 controls">
              <button type="submit" id="btn-login" class="btn btn-success center-block" style="width: 100px">Login  </button type="submit">

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
